* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url(images/pexels-tyler-lastovich-699122.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    color: #333333;
}

/* Navigation styles */
.topnav {
    position: sticky;
    top: 0;
    left: 0;
    margin: 1% 0 0 1%;
    overflow: hidden;
    z-index: 1;
    background-color: transparent; 
}

.topnav a {
    float: left;
    display: block;
    color: #888888;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 0 5px;
}

.topnav a:hover {
    color: #beb6b2;
    font-weight: bold;
}

.topnav a.active {
    color: #beb6b2;
    font-weight: bold;
}

.base-header {
    text-align: center;
    color: #333333;
}

.login-container {
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 2.5%;
    align-items: center;
}

.login-container p {
    color: #007BFF;
    font-weight: bold;
    font-size: 18px;
    margin-right: 25px;
}

.login-container a {
    padding: 15px;
}