{% extends 'base.html' %}

{% block title %}
Add Products
{% endblock %}

{% block content %}
<div class="home-links">
    <ul class="home-links-ul">
        <li><a href="{{ url_for('phone') }}">Telefon</a></li>
        <li><a href="{{ url_for('laptop') }}">Laptop</a></li>
        <li><a href="{{ url_for('display') }}">Display</a></li>
        <li><a href="{{ url_for('batterie') }}">Baterie</a></li>
        <li><a href="{{ url_for('phonecase') }}">Husa</a></li>
        <li><a href="{{ url_for('other') }}">Altele</a></li>
    </ul>
</div>

<div class="admin-options">
    <ul>
        <li><a href="{{ url_for('add_product') }}">Add Products</a></li>
        <li><a href="{{ url_for('change_price') }}">Change Price</a></li>
    </ul>
</div>

<div class="add-prod-container">
    <div class="add-product-content">
        <h1>Add Product</h1>
        <form action="{{ url_for('add_product') }}" method="POST" class="add-product-form" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div>
                <label for="category" class="add-product-label">Category:</label>
                {{ form.category(class="add-product-form-control", id="category", placeholder="Choose a category", onchange="removePlaceholder(this)") }}
            </div>

            <div>
                <label for="name" class="add-product-label ">Name:</label>
                {{ form.name(class="add-product-form-control aplc", id="name") }}
            </div>

            <div>
                <label for="description" class="add-product-label ">Description:</label>
                {{ form.description(class="add-product-form-control aplc", id="description") }}
            </div>

            <div>
                <label for="price" class="add-product-label ">Price:</label>
                {{ form.price(class="add-product-form-control aplc", id="price") }}
            </div>

            <div>
                <label for="sale_price" class="add-product-label ">Sale Price:</label>
                {{ form.sale_price(class="add-product-form-control aplc", id="sale_price") }}
            </div>
        
            <div>
                <label for="photo" class="add-product-label">Photo:</label>
                <input type="file" name="image" multiple>
            </div>

            <div>
                {{ form.submit(class="add-btn") }}
            </div>

            <div class="message">
                {% if message %}
                    {{ message }}
                {% endif %}
            </div>
        </form>
    </div>
</div>

{% endblock %}