<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login-register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='products.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='phone.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='laptop.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='display.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='batterie.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='phonecase.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='other.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='product-details.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='add-product.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='change-price.css') }}">
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <div class="topnav">
        {% if current_user.is_authenticated %}
        <a {% if request.endpoint == 'home' %}class="active"{% endif %} href="{{ url_for('home') }}">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <a href="#more">More</a>

        
        {% if current_user.admin or current_user.username.lower() == "roshu" %}
        <a {% if request.endpoint == 'admin' %}class="active"{% endif %} href="{{ url_for('admin') }}">Admin</a>
        {% endif %}
        
        <div class="login-container">
            <p>{{ current_user.username.title() }}</p>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
        
        {% else %}
        <a {% if request.endpoint == 'home' %}class="active"{% endif %} href="{{ url_for('home') }}">Home</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
        <a href="#more">More</a>
        
        <div class="login-container">
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        </div>
        {% endif %}
    </div>
    {% block content %}

    {% endblock %}  
</body>
</html>