{% extends 'base.html' %}

{% block title %}
Change Price
{% endblock %}

{% block content %}
<div class="home-links">
    <ul class="home-links-ul">
        <li><a href="{{ url_for('phone') }}">Telefon</a></li>
        <li><a href="{{ url_for('laptop') }}">Laptop</a></li>
        <li><a href="{{ url_for('display') }}">Display</a></li>
        <li><a href="{{ url_for('batterie') }}">Baterie</a></li>
        <li><a href="{{ url_for('phonecase') }}">Husa</a></li>
        <li><a href="{{ url_for('other') }}">Altele</a></li>
    </ul>
</div>

<div class="admin-options">
    <ul>
        <li><a href="{{ url_for('add_product') }}">Add Products</a></li>
        <li><a href="{{ url_for('change_price') }}">Change Price</a></li>
    </ul>
</div>

<div class="change-price-container">
    <h1 class="change-price-header">Change Price</h1>
    <form action="{{ url_for('change_price') }}" method="POST" class="add-product-form" enctype="multipart/form-data">
        <label>Product ID</label>
        <input type="number" name="product-id" class="change-price-input">

        <label>New Price</label>
        <input type="number" name="new-price" class="change-price-input">

        <button type="submit" class="change-price-submit">Change Price</button>

    </form>
</div>

{% endblock %}