{% extends 'base.html' %}

{% block title %}
Displays
{% endblock %}

{% block content %}

<div class="products-links">
    <ul class="products-links-ul">
        <li><a href="{{ url_for('phone') }}">Telefon</a></li>
        <li><a href="{{ url_for('laptop') }}">Laptop</a></li>
        <li><a class="active" href="{{ url_for('display') }}">Display</a></li>
        <li><a href="{{ url_for('batterie') }}">Baterie</a></li>
        <li><a href="{{ url_for('phonecase') }}">Husa</a></li>
        <li><a href="{{ url_for('other') }}">Altele</a></li>
    </ul>
</div>

<div class="display-gallery">
    {% for display in displays %}
    {% if not display.sold %}
    <div class="display-content">
        <a href="{{ url_for('product_details', product_id=display.product_id)}}">
            <div class="display-photo-container">
                <div class="display-photo">
                    {% if display.image_references and display.image_references|length > 0 %}
                        <img src="{{ url_for('static', filename='uploads/' + display.image_references[0].image_ref) }}" alt="Product Image" class="product-image" id="product-image">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/default-display.jpg') }}" alt="Default Image" class="product-image">
                    {% endif %}
                </div>
            </div>
            <h3>{{ display.name.title() }}</h3>
            <p>{{ display.description }}</p>
            <h6>RON {{ display.sale_price }}</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
            </ul>
            <div class="display-button">
                <button>Buy Now</button>
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}