{% extends 'base.html' %}

{% block title %}
Displays
{% endblock %}

{% block content %}

<div class="products-links">
    <ul class="products-links-ul">
        <li><a href="{{ url_for('phone') }}">Telefon</a></li>
        <li><a href="{{ url_for('laptop') }}">Laptop</a></li>
        <li><a class="active" href="{{ url_for('display') }}">Display</a></li>
        <li><a href="{{ url_for('batterie') }}">Baterie</a></li>
        <li><a href="{{ url_for('phonecase') }}">Husa</a></li>
        <li><a href="{{ url_for('other') }}">Altele</a></li>
    </ul>
</div>

<div class="display-gallery">
    {% for display in displays %}
    <div class="display-content">
        <div class="display-photo">
        {% if display.image_ref %}
            <img src="{{ url_for('static', filename='uploads/' + display.image_ref) }}" alt="Comment Image" class="product-image">
            {% else %}
            <img src="{{ url_for('static', filename='images/default-display.jpg') }}" alt="Comment Image" class="product-image">
        {% endif %}
        </div>
        <h3>{{ display.name.title() }}</h3>
        <p>{{ display.description }}</p>
        <h6>RON {{ display.sale_price }}</h6>
        <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-3">Buy Now</button>
    </div>
    {% endfor %}
</div>

{% endblock %}