{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="top-container">
    <div class="center-content">
        <h1 class="top-container-header">Shop in style</h1>
        <p class="top-container-p">Red GSM va ofera o gama variata de telefoane si accesorii.</p>
    </div>
</div>

<div class="home-links">
    <ul class="home-links-ul">
        <li><a href="{{ url_for('phone') }}">Telefon</a></li>
        <li><a href="{{ url_for('laptop') }}">Laptop</a></li>
        <li><a href="{{ url_for('display') }}">Display</a></li>
        <li><a href="{{ url_for('batterie') }}">Baterie</a></li>
        <li><a href="{{ url_for('phonecase') }}">Husa</a></li>
        <li><a href="{{ url_for('other') }}">Altele</a></li>
    </ul>
</div>

{% endblock %}