{% extends 'base.html' %}

{% block title %}
Laptops
{% endblock %}

{% block content %}

<div class="products-links">
    <ul class="products-links-ul">
        <li><a href="{{ url_for('phone') }}">Telefon</a></li>
        <li><a class="active" href="{{ url_for('laptop') }}">Laptop</a></li>
        <li><a href="{{ url_for('display') }}">Display</a></li>
        <li><a href="{{ url_for('batterie') }}">Baterie</a></li>
        <li><a href="{{ url_for('phonecase') }}">Husa</a></li>
        <li><a href="{{ url_for('other') }}">Altele</a></li>
    </ul>
</div>

<div class="laptop-gallery">
    {% for laptop in laptops %}
    {% if not laptop.sold %}
    <div class="laptop-content">
        <a href="{{ url_for('product_details', product_id=laptop.product_id)}}">
            <div class="laptop-photo-container">
                <div class="laptop-photo">
                    {% if laptop.image_references and laptop.image_references|length > 0 %}
                        <img src="{{ url_for('static', filename='uploads/' + laptop.image_references[0].image_ref) }}" alt="Product Image" class="product-image" id="product-image">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/default-laptop.jpg') }}" alt="Default Image" class="product-image">
                    {% endif %}
                </div>
            </div>
            <h3>{{ laptop.name.title() }}</h3>
            <p>{{ laptop.description }}</p>
            <h6>RON {{ laptop.sale_price }}</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
            </ul>
            <div class="laptop-button">
                <button>Buy Now</button>
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}