{% extends 'base.html' %}

{% block title %}
Others
{% endblock %}

{% block content %}

<div class="products-links">
    <ul class="products-links-ul">
        <li><a href="{{ url_for('phone') }}">Telefon</a></li>
        <li><a href="{{ url_for('laptop') }}">Laptop</a></li>
        <li><a href="{{ url_for('display') }}">Display</a></li>
        <li><a href="{{ url_for('batterie') }}">Baterie</a></li>
        <li><a href="{{ url_for('phonecase') }}">Husa</a></li>
        <li><a class="active" href="{{ url_for('other') }}">Altele</a></li>
    </ul>
</div>

<div class="other-gallery">
    {% for other in others %}
    <div class="other-content">
        <div class="other-photo">
        {% if other.image_ref %}
            <img src="{{ url_for('static', filename='uploads/' + other.image_ref) }}" alt="Comment Image" class="product-image">
            {% else %}
            <img src="{{ url_for('static', filename='images/default-other.jpg') }}" alt="Comment Image" class="product-image">
        {% endif %}
        </div>
        <h3>{{ other.name.title() }}</h3>
        <p>{{ other.description }}</p>
        <h6>RON {{ other.sale_price }}</h6>
        <ul>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star checked"></i></li>
            <li><i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-6">Buy Now</button>
    </div>
    {% endfor %}
</div>

{% endblock %}