{% extends 'base.html' %}

{% block title %}
Phones
{% endblock %}

{% block content %}

<div class="products-links">
    <ul class="products-links-ul">
        <li><a class="active" href="{{ url_for('phone') }}">Telefon</a></li>
        <li><a href="{{ url_for('laptop') }}">Laptop</a></li>
        <li><a href="{{ url_for('display') }}">Display</a></li>
        <li><a href="{{ url_for('batterie') }}">Baterie</a></li>
        <li><a href="{{ url_for('phonecase') }}">Husa</a></li>
        <li><a href="{{ url_for('other') }}">Altele</a></li>
    </ul>
</div>



<div class="phone-gallery">
    {% for phone in phones %}
    {% if not phone.sold %}
    <div class="phone-content">
        <a href="{{ url_for('product_details', product_id=phone.product_id)}}">
            <div class="phone-photo-container">
                <div class="phone-photo">
                    {% if phone.image_references and phone.image_references|length > 0 %}
                        <img src="{{ url_for('static', filename='uploads/' + phone.image_references[0].image_ref) }}" alt="Product Image" class="product-image" id="product-image">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/default-phone.jpg') }}" alt="Default Image" class="product-image">
                    {% endif %}
                </div>
            </div>
            <h3>{{ phone.name.title() }}</h3>
            <p>{{ phone.description }}</p>
            <h6>RON {{ phone.sale_price }}</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
            </ul>
            <div class="phone-button">
                <button>Buy Now</button>
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}