{% extends 'base.html' %}

{% block title %}
Admin
{% endblock %}

{% block content %}

<div class="products-links">
    <ul class="products-links-ul">
        <li><a href="{{ url_for('phone') }}">Telefon</a></li>
        <li><a href="{{ url_for('laptop') }}">Laptop</a></li>
        <li><a href="{{ url_for('display') }}">Display</a></li>
        <li><a href="{{ url_for('batterie') }}">Baterie</a></li>
        <li><a class="active" href="{{ url_for('phonecase') }}">Husa</a></li>
        <li><a href="{{ url_for('other') }}">Altele</a></li>
    </ul>
</div>

<div class="phonecase-gallery">
    {% for phonecase in phonecases %}
    {% if not phonecase.sold %}
    <div class="phonecase-content">
        <a href="{{ url_for('product_details', product_id=phonecase.product_id)}}">
            <div class="phonecase-photo-container">
                <div class="phonecase-photo">
                    {% if phonecase.image_references and phonecase.image_references|length > 0 %}
                        <img src="{{ url_for('static', filename='uploads/' + phonecase.image_references[0].image_ref) }}" alt="Product Image" class="product-image" id="product-image">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/default-phonecase.jpg') }}" alt="Default Image" class="product-image">
                    {% endif %}
                </div>
            </div>
            <h3>{{ phonecase.name.title() }}</h3>
            <p>{{ phonecase.description }}</p>
            <h6>RON {{ phonecase.sale_price }}</h6>
            <ul>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
                <li><i class="fa fa-star checked"></i></li>
            </ul>
            <div class="phonecase-button">
                <button>Buy Now</button>
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}